<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.syg.manage.dao.manage.CdkeyMapper" >
  <resultMap id="BaseResultMap" type="com.syg.manage.model.manage.Cdkey" >
    <id column="key" property="key" jdbcType="INTEGER" />
    <result column="class_id" property="classId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="use_time" property="useTime" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    `key`, class_id, create_time, `state`, use_time, `uid`
  </sql>
  
  <select id="queryAll" resultType="com.syg.manage.model.manage.Cdkey">
	SELECT * FROM cdkey
  </select>
  
  <select id="queryListPageSearch" resultType="com.syg.manage.model.manage.Cdkey">
	SELECT * FROM cdkey
	<bind name="MbValid" value="@com.syg.manage.util.MbValid@instance()"/>
	<where>
	    <if test="MbValid.noZero(example.key)">
		and `key` = #{example.key}
		</if>
		<if test="MbValid.str(example.classId)">
		and class_id = #{example.classId}
		</if>
		<if test="MbValid.shDateBegin(example.createDateSh)">
		and create_time &gt;= unix_timestamp(#{example.createDateSh.begin})
		</if>
		<if test="MbValid.shDateEnd(example.createDateSh)">
		and create_time &lt;= unix_timestamp(#{example.createDateSh.end})
		</if>
		<if test="MbValid.str(example.state)">
		and `state` = #{example.state}
		</if>
		<if test="MbValid.shDateBegin(example.useDateSh)">
		and use_time &gt;= unix_timestamp(#{example.useDateSh.begin})
		</if>
		<if test="MbValid.shDateEnd(example.useDateSh)">
		and use_time &lt;= unix_timestamp(#{example.useDateSh.end})
		</if>
		<if test="MbValid.str(example.uid)">
		and `uid` = #{example.uid} 
		</if>  
	</where>
  </select>
	
</mapper>