<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.syg.manage.dao.manage.GmGameKindMapper" >

  	<select id="queryAll" resultType="GmGameKind">
	SELECT * FROM gm_game_kind
	</select>
  <select id="queryAllByGameKind" resultType="GmGameKind">
	<bind name="MbValid" value="@com.syg.manage.util.MbValid@instance()"/>
	SELECT * FROM gm_game_kind
	<where> 
		<if test="MbValid.str(example.kindId)">
		and kind_id = #{example.kindId}
		</if>
	</where>	
  </select>
  <select id="queryListPageSearch" resultType="GmGameKind">
  	<bind name="MbValid" value="@com.syg.manage.util.MbValid@instance()"/>
	SELECT * FROM gm_game_kind
	<where> 
		<if test="MbValid.str(example.gameName)">
		and game_name = #{example.gameName}
		</if>
	</where>	
  </select>
  <select id="queryByGameName" resultType="GmGameKind">
	SELECT * FROM gm_game_kind WHERE game_name = #{gameName}
  </select>
  <select id="selectByPrimaryKey" resultType="GmGameKind" parameterType="java.lang.Integer" >
    select * from gm_game_kind
    where kind_id = #{kindId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gm_game_kind
    where kind_id = #{kindId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="GmGameKind" useGeneratedKeys="true" keyProperty="kindId" >
    insert into gm_game_kind (game_name, pri_key)
    values (#{gameName,jdbcType=VARCHAR}, #{priKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="GmGameKind" useGeneratedKeys="true" keyProperty="kindId" >
    insert into gm_game_kind
    <trim prefix="(" suffix=")" suffixOverrides="," >
      kind_id,
      game_name,
      pri_key,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{kindId,jdbcType=INTEGER},
      #{gameName,jdbcType=VARCHAR},
      #{priKey,jdbcType=VARCHAR},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="GmGameKind" >
    update gm_game_kind
    <set >
      <if test="gameName != null" >
        game_name = #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="priKey != null" >
        pri_key = #{priKey,jdbcType=VARCHAR},
      </if>
    </set>
    where kind_id = #{kindId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="GmGameKind" >
    update gm_game_kind
    set game_name = #{gameName,jdbcType=VARCHAR},
      pri_key = #{priKey,jdbcType=VARCHAR}
    where kind_id = #{kindId,jdbcType=INTEGER}
  </update>
</mapper>