<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.syg.manage.dao.manage.GmPlatformMapper" >

	<select id="queryAll" resultType="GmPlatform">
	SELECT * FROM gm_platform
	</select>
  <select id="queryAllByPlatform" resultType="GmPlatform">
  	<bind name="MbValid" value="@com.syg.manage.util.MbValid@instance()"/>
	SELECT * FROM gm_platform
	<where> 
		<if test="MbValid.noZero(example.kindId)">
		and kind_id = #{example.kindId}
		</if>
		<if test="MbValid.noZero(example.platformId)">
		and platform_id = #{example.platformId}
		</if>
	</where>
  </select>
  <select id="queryListPageSearch" resultType="GmPlatform">
  	<bind name="MbValid" value="@com.syg.manage.util.MbValid@instance()"/>
	SELECT * FROM gm_platform
	<where> 
		<if test="MbValid.noZero(example.platformId)">
		and platform_id = #{example.platformId}
		</if>
		<if test="MbValid.noZero(example.kindId)">
		and kind_id = #{example.kindId}
		</if>
		<if test="MbValid.str(example.platform)">
		and platform = #{example.platform}
		</if>
		<if test="MbValid.str(example.platformName)">
		and platform_name = #{example.platformName}
		</if>
	</where>	
  </select>	
  <select id="queryByPlatformName" resultType="GmPlatform">
	SELECT * FROM gm_platform where platform_name = #{platformName}
  </select>
  <select id="selectByKindIdAndPlatform" resultType="GmPlatform">
	SELECT * FROM gm_platform where kind_id = #{kindId} and platform = #{platform} limit 1
  </select>
  <select id="queryByKindIdAndPlatformName" resultType="GmPlatform">
	SELECT * FROM gm_platform where kind_id = #{kindId} and platform_name = #{platformName} limit 1
  </select>
  <select id="selectByPrimaryKey" resultType="GmPlatform" parameterType="java.lang.Integer" >
    select *
    from gm_platform
    where platform_id = #{platformId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gm_platform
    where platform_id = #{platformId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="GmPlatform" >
    insert into gm_platform (platform_id, kind_id, platform, platform_name
      )
    values (#{platformId,jdbcType=INTEGER}, #{kindId,jdbcType=INTEGER}, #{platform,jdbcType=VARCHAR}, #{platformName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="GmPlatform" >
    insert into gm_platform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      platform_id,
      kind_id,
      platform,
      platform_name
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{platformId,jdbcType=INTEGER},
      #{kindId,jdbcType=INTEGER},
      #{platform,jdbcType=VARCHAR},
      #{platformName,jdbcType=VARCHAR}
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="GmPlatform" >
    update gm_platform
    <set >
      <if test="kindId != null" >
        kind_id = #{kindId,jdbcType=INTEGER},
      </if>
      <if test="platformName != null" >
        platform_name = #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="platform != null" >
        platform = #{platform,jdbcType=VARCHAR},
      </if>
    </set>
    where platform_id = #{platformId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="GmPlatform" >
    update gm_platform
    set platform_name = #{platformName,jdbcType=VARCHAR},
    platform = #{platform,jdbcType=VARCHAR},
    kind_id = #{kindId,jdbcType=INTEGER}
    where platform_id = #{platformId,jdbcType=INTEGER}
  </update>
</mapper>