<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.syg.manage.dao.manage.PointMapMapper" >
  
  <select id="queryListPageSearch" resultType="com.syg.manage.model.manage.PointMap">
	SELECT * FROM point_map
  </select>
  
</mapper>