/* 上传文件弹窗 */
.va_top{vertical-align: top;}
.mt_tb{margin:10px 0;}
.tc{text-align: center;}
.m_width76{min-width: 75%;}
.mt_lr{margin:0 10px;}
.mt10{margin-top:10px;}
.fz10{font-size:14px;}
.mb10{margin-bottom:10px;}
/*开关按钮*/
.left_box{width:56px;height:30px;border-radius:15px;position:relative;display:inline-block;vertical-align:middle;box-sizing: border-box;}
.right_box{width:26px;height:26px;border-radius:15px;position:absolute;background:white;-webkit-box-shadow:0px 2px 4px rgba(0,0,0,0.4);box-shadow:0px 2px 4px rgba(0,0,0,0.4);box-sizing: border-box;}
.open_left{background:#d71820;}
.open_right{top:2px;right:1px;} 
.close1{background:rgba(255,255,255,0.4);border:2px solid rgba(0,0,0,0.15);border-left:transparent;}
.close2{left:0px;top:0px;background:-webkit-linear-gradient(bottom,rgba(0,0,0,0.1) 50%,transparent 50%);background-repeat:no-repeat;background-size:100% 1px;background-position:center bottom;}
/*进度条*/
.progress{height:20px;background:#ebebeb;border-left:1px solid transparent;border-right:1px solid transparent;border-radius:10px;}
.progress > span{position:relative;float: left;margin:0 -1px;min-width:30px;height:18px;font-size:11px;line-height:16px;text-align:right;background:#cccccc;border:1px solid;border-color:#bfbfbf #b3b3b3 #9e9e9e;border-radius:10px;background-image:-webkit-linear-gradient(top,#f0f0f0 0%,#dbdbdb 70%,#cccccc 100%);background-image:-moz-linear-gradient(top,#f0f0f0 0%,#dbdbdb 70%,#cccccc 100%);background-image:-o-linear-gradient(top,#f0f0f0 0%,#dbdbdb 70%,#cccccc 100%);background-image:linear-gradient(to bottom,#f0f0f0 0%,#dbdbdb 70%,#cccccc 100%);-webkit-box-shadow:inset 0 1px rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.2);box-shadow:inset 0 1px rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.2);}
.progress > span > span{padding:0 8px;font-size:11px;font-weight:bold;color:#404040;color:rgba(0,0,0,0.7);text-shadow:0 1px rgba(255,255,255,0.4);}
.progress > span:before{content:'';position:absolute;top:0;bottom:0;left:0;right:0;z-index:1;height:18px;background:url("../images/progress.png") 0 0 repeat-x;border-radius:10px;}
.progress .red{background:#db3a27;border-color:#c73321 #b12d1e #8e2418;background-image:-webkit-linear-gradient(top,#ea8a7e 0%,#e15a4a 70%,#db3a27 100%);background-image:-moz-linear-gradient(top,#ea8a7e 0%,#e15a4a 70%,#db3a27 100%);background-image:-o-linear-gradient(top,#ea8a7e 0%,#e15a4a 70%,#db3a27 100%);background-image:linear-gradient(to bottom,#ea8a7e 0%,#e15a4a 70%,#db3a27 100%);}