@charset "UTF-8";
/*
* @Author: zhangyu
* @Date:   2016-05-04 10:27:27
* @Last Modified by:   zhangyu
* @Last Modified time: 2016-05-26 16:20:33
*/
}
@font-face {
  font-family: 'iconfont';
  src: url('../iconfontOA/iconfont.eot'); /* IE9*/
  src: url('../iconfontOA/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfontOA/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../iconfontOA/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../iconfontOA/iconfont.svg') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:1em;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* 表单输出 */
.con_select_print .forms{margin-bottom: 16px; margin-top: 11px;}
.con_select_print .forms .department{background:#dbdbdb;width: 42.2%;min-width: 150px; }
.con_select_print label{ display: inline-block;width: 20%; min-width: 77px; line-height: 20px; text-align: right;font-size:1em;font-family: microsoft yahei;color: #676A6C;}
.con_select_print label sup{color: #d12f2a;}
.con_select_print input[type="text"]{width: 50%;height: 30px;min-width: 195px;line-height: 30px; background: #fff;  padding-left: 2%; padding-right: 2%; font-size: 0.875em;font-family: microsoft yahei;border: 1px solid #ddd;color: #676A6C;}
.con_select_print .forms button{width: 7%; height: 32px; line-height: 32px; min-width: 40px;background: #23c6c8;font-size:0.875em;font-family: microsoft yahei; color: #fff;vertical-align: middle; font-weight: 600; padding-left: 1%; padding-right: 1%; cursor: pointer;}
.con_select_print .forms button:hover{background: #21b9bb;}
.con_select_print .forms .select{width: 54.2%;height: 30px; min-width: 211px;line-height: 30px;padding-left: 2%; font-size: 0.875em;font-family: microsoft yahei;border: 1px solid #ddd;color: #676A6C;}
.con_select_print .forms .form_textarea{width: 50%;min-height: 90px;min-width: 195px; resize: none; vertical-align: top; height: auto; line-height: 30px;padding:10px 2%; font-size: 0.875em;font-family: microsoft yahei;border: 1px solid #ddd;color: #676A6C;}
.con_select_print .forms .input_select{display: inline-block;width: 54.2%;min-width: 167px; padding-right: 0;}
.con_select_print .forms .input_select input{width: 50%;min-width: 167px;}
.con_select_print .forms_depart{margin-bottom: 16px; margin-top: 16px;}
.con_select_print .forms .detail{margin-right: 2%; color: #23c6c8; cursor: pointer;font-size:1em;font-family: microsoft yahei;}
.add_new_btn{width:100%;}
.add_new_btn button{ height: 35px; line-height: 35px; width:9%; margin-bottom: 20px; font-size: 1em;min-width: 60px; background: #23c6c8;border-radius: 3px;color: #fff; }
.add_new_btn .sure_btn{width: 48%; text-align: right; padding-right: 2%;}
.add_new_btn .sure_btn button:hover{background: #21b9bb;}
.add_new_btn .exit_btn{width: 48%; text-align: left;padding-left: 2%;}
.add_new_btn .exit_btn button:hover{background-color: #7E7B7B;}
.add_new_btn .exit_btn .exit{background: #bcbcbc;}
/*分页*/
.iconfont {
  font-family:"iconfont" !important;
  font-size:1em;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.apply h2 a{display: inline-block; float: right; text-align: center; height: 30px; width: 2%;margin-top: 3px; min-width:37px; background: #23c6c8; border-radius: 3px; padding-left: 0.5%;padding-right: 0.5%;line-height: 30px;font-size: 0.8em; font-weight: 500; color: #fff;}
.apply h2 a.mt5{margin-top: 6px;}
.apply h2 a.delete{background: #d12f2a;}
.apply h2 a.change{background: #f60;}
.apply h2 a.delete:hover{background: #BF0B05;}
.apply h2 a.change:hover{background: #CE5C10;}
.mt4{margin-top:4px;margin-right:10px;}
.search_input_list {
    vertical-align: middle;
    width: 90%;
    max-width: 140px;
    padding-left: 5px;
    line-height: 28px;
    height: 28px;
    border: 1px solid #DDD;
    color: #676A6C;
    font-size: 0.875em;
    font-family: microsoft yahei;
}


